.App {
  text-align: center;
}

 p{
  background-color: aqua;
}

.item > label{
  flex-grow: 1;
  font-size: 0.75rem;
}
.item svg {
  width: 48px;
  min-width: 48px;
  height: 40px;
  color:blue;
  cursor:pointer;
  font-size: 1rem;
}
.item svg:focus,item svg:hover{
  color:red;
  outline: none;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}
ul{
  list-style: none;
}